<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpenceAndBudgetTracker"
        android:usesCleartextTraffic="true">

        <!-- Login -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ExpenceAndBudgetTracker"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register -->
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.ExpenceAndBudgetTracker"
            android:windowSoftInputMode="adjustResize" />

        <!-- Forgot Password -->
        <activity
            android:name=".auth.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.ExpenceAndBudgetTracker"
            android:windowSoftInputMode="adjustResize" />

        <!-- OTP Verification -->
        <activity
            android:name=".auth.OtpVerificationActivity"
            android:exported="false"
            android:theme="@style/Theme.ExpenceAndBudgetTracker"
            android:windowSoftInputMode="adjustResize" />

        <!-- Reset Password -->
        <activity
            android:name=".auth.ResetPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.ExpenceAndBudgetTracker"
            android:windowSoftInputMode="adjustResize" />

        <!-- Dashboard -->
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.ExpenceAndBudgetTracker"
            android:windowSoftInputMode="adjustResize" />

        <!-- Account -->
        <activity
            android:name=".account.AccountActivity"
            android:exported="false"

            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".account.AddEditAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.ExpenceAndBudgetTracker"
            android:windowSoftInputMode="adjustResize" />

        <!-- Transaction -->
        <activity
            android:name=".transactions.TransactionActivity"
            android:exported="false"
            android:theme="@style/Theme.ExpenceAndBudgetTracker"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".transactions.AddTransactionActivity"
            android:exported="false"
            android:theme="@style/Theme.ExpenceAndBudgetTracker"
            android:windowSoftInputMode="adjustResize" />

        <!-- Budget  -->
        <activity
            android:name=".budget.BudgetActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".budget.AddBudgetActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Profile -->
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Notification -->
        <activity
            android:name=".notification.NotificationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".category.SelectCategoryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


    </application>

</manifest>