<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpenceAndBudgetTracker">
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ExpenceAndBudgetTracker"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <activity -->
        <!-- android:name=".ui.auth.RegisterActivity" -->
        <!-- android:exported="false" -->
        <!-- android:theme="@style/Theme.ExpenceAndBudgetTracker" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->


        <!-- <activity -->
        <!-- android:name=".ui.auth.VerifyPinActivity" -->
        <!-- android:exported="false" -->
        <!-- android:theme="@style/Theme.ExpenceAndBudgetTracker" /> -->


        <!-- MainActivity (Compose) becomes the post-login dashboard -->


        <!-- <activity -->
        <!-- android:name=".ui.auth.AuthActivity" -->
        <!-- android:exported="false" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
        <!-- <activity -->
        <!-- android:name=".ui.auth.ForgotPasswordActivity" -->
        <!-- android:exported="false" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
        <!-- <activity -->
        <!-- android:name=".ui.auth.OtpVerificationActivity" -->
        <!-- android:exported="false" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
<!--        <activity-->
<!--            android:name=".ui.expense.AddTransactionActivity"-->
<!--            android:exported="false"-->
<!--            android:windowSoftInputMode="adjustResize" />-->
<!--        <activity-->
<!--            android:name=".ui.dashboard.DashboardActivity"-->
<!--            android:exported="false"-->
<!--            android:windowSoftInputMode="adjustResize" />-->
    </application>

</manifest>